.hidden-items {
    opacity: 1;
    max-height: 1000px;
    /* Adjust this value as needed */
    transition: opacity 0.9s ease-in-out, max-height 5s ease-in-out;
}

.hidden-items.hide {
    opacity: 0;
    max-height: 0;
}